In [10]:
import ast
import numpy as np
import pandas as pd

In [11]:
train = pd.read_csv("data/train.csv")
train["video"] = train["video"] + ".mp4"
test = pd.read_csv("data/test.csv")
test["video"] = test["video"] + ".mp4"
val = pd.read_csv("data/val.csv")
val["video"] = val["video"] + ".mp4"

In [12]:
frame_cnts = pd.read_csv("camera_reaction_frame_cnt.csv")
frame_cnts.rename({"videos": "video"}, axis=1, inplace=True)

In [13]:
train.head()

,video,avoidance,attraction,inspection,no_reaction,label
0,adk18_11090152.mp4,False,False,False,True,"[0, 0, 0, 1]"
1,adk20_10100389.mp4,False,False,False,True,"[0, 0, 0, 1]"
2,adk20_10100391.mp4,False,False,False,True,"[0, 0, 0, 1]"
3,adk20_1010781.mp4,False,False,False,True,"[0, 0, 0, 1]"
4,adk20_10170478.mp4,True,True,True,False,"[1, 1, 1, 0]"

In [14]:
train["zero"] = train.avoidance.apply(lambda x: 0 if x else pd.NA)
train["one"] = train.attraction.apply(lambda x: 1 if x else pd.NA)
train["two"] = train.inspection.apply(lambda x: 2 if x else pd.NA)
train["three"] = train.no_reaction.apply(lambda x: 3 if x else pd.NA)

val["zero"] = val.avoidance.apply(lambda x: 0 if x else pd.NA)
val["one"] = val.attraction.apply(lambda x: 1 if x else pd.NA)
val["two"] = val.inspection.apply(lambda x: 2 if x else pd.NA)
val["three"] = val.no_reaction.apply(lambda x: 3 if x else pd.NA)

test["zero"] = test.avoidance.apply(lambda x: 0 if x else pd.NA)
test["one"] = test.attraction.apply(lambda x: 1 if x else pd.NA)
test["two"] = test.inspection.apply(lambda x: 2 if x else pd.NA)
test["three"] = test.no_reaction.apply(lambda x: 3 if x else pd.NA)

In [6]:
train = train.merge(frame_cnts, on="video", how="left")
val = val.merge(frame_cnts, on="video", how="left")
test = test.merge(frame_cnts, on="video", how="left")

In [7]:
train[["video", "zero", "one", "two", "three"]].to_csv(
    "train.txt", header=None, index=None, sep=" "
)
val[["video", "zero", "one", "two", "three"]].to_csv(
    "val.txt", header=None, index=None, sep=" "
)
test[["video", "zero", "one", "two", "three"]].to_csv(
    "test.txt", header=None, index=None, sep=" "
)

In [8]:
# open text file
def remove_whitespace(filename):
    with open(filename, "r") as file:
        # ensure only single whitespace between columns
        data = file.read().replace("   ", " ")

    # write back to file
    with open(filename, "w") as file:
        file.write(data)

    # open text file
    with open(filename, "r") as file:
        # ensure only single whitespace between columns
        data = file.read().replace("  ", " ")

    # write back to file
    with open(filename, "w") as file:
        file.write(data)

In [9]:
remove_whitespace("train.txt")
remove_whitespace("val.txt")
remove_whitespace("test.txt")